.nav-base{
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.024) 100%);
    width: 100%;
    height: 70px;
    padding: 10px 30px 10px 30px;
}

.nav-container-logo{
    width: 110px;
}