.login-section{
    display: flex;
    flex-direction: column;
}

.container-notfound{
    flex: 1;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-notfound h1 {
    font-size: 60px;
    text-shadow: 0 1px 30px rgb(0 0 0 / 100%);

}
.container-notfound span {
    font-size: 24px;
    text-shadow: 0 1px 30px rgb(0 0 0 / 100%);
}

.MuiButton-textPrimary{
    color: #111!important;
    font-weight: bold!important;
    background-color: #FFF!important;
}

.button-notfound{
    margin: 30px!important;
}